<mat-card>
    <mat-card-title> Je ne dois pas oublier de: </mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>
                Ma Nouvelle todo
            </mat-label>
            <input matInput [(ngModel)]="newTodo" type="text" id='newTodo' name="todo" placeholder="ma nouvelle todo">
        </mat-form-field>
        <button mat-button (click)="addTodo()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </form>
    <div>
        <li *ngFor='let todo of todosList' id='todo.id'> {{todo.data}}
            <mat-icon (click)='deleteTodo(todo.id)'>delete_forever</mat-icon>
        </li>

    </div>
</mat-card>